<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raghu.spotifystreamer.app" >

    <application
        android:name="raghu.spotifystreamer.app.RxApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:launchMode="singleTop"
            android:name="raghu.spotifystreamer.app.ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustUnspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.DetailActivity"
                  android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity"/>
        </activity>

        <provider
            android:name="raghu.spotifystreamer.app.provider.MoviesProvider"
            android:authorities="raghu.spotifystreamer.app.provider"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
